.mainImage{
    padding:0.5rem 0.5rem;
}



@media only screen and (min-width:800px){
    .mainImage{
        height:87.2vh!important;
    }
}

@media only screen and (min-width:600px){
    .mainImage{
        height:50vh;
    }
}